body {
    font-family: Arial;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url('Group.jpg');
    background-size: cover;
}

header {
    background-color: #f1b930;
    color: white;
    padding: 10px;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(225, 225, 225, 0.3);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

p {
    line-height: 1.6;
    color: black;
}

.back-button {
    font-family: Arial;
    font-size: 32px;
    position: absolute;
    top: 35px;
    left: 30px;
    padding: 10px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}