<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="About.css">
</head>
<body>

    <header>
        <h1 style="color: black;">Fresh Bowl</h1>
    </header>

    <section>
        <h2 style="color: rgb(0, 0, 0); text-align: center;">About Us</h2>
        <p>Welcome to Fresh Bowl, where culinary excellence meets warm hospitality. Nestled in the heart of Pathumthani, our restaurant is a haven for food enthusiasts seeking a delightful gastronomic experience. At Fresh Bowl, we take pride in crafting a diverse menu inspired by both local flavors and international influences. Our chefs meticulously source the finest ingredients to create dishes that tantalize the taste buds and leave a lasting impression. Whether you're here for a casual meal with friends or a special celebration, we invite you to savor the moment and indulge in the extraordinary at Fresh Bowl.</p>
    </section>

    <button class="back-button" onclick="goBack()">Back</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</body>
</html>