<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Stylesheet/Delete.css">
    <title>Delete Account</title>
</head>
<body>
    <div class="container">
        <h2 class="title">Fresh Bowl</h2>
        <div>
        <label>Do you want to delete the account?</label><br>
        <label>If you delete your account, you will not be able to recover any data.</label>
        </div>
        <br>
        <form action = "/deleterUser" method="post" onsubmit="return validateForm()">
            <label>Username <input type="text" name="username" id = "username" placeholder="" required></label><br>
            <label>Password <input type="password" name="password" id="password" placeholder="" required></label><br>
            
            <br>
            <input type="submit" value="Delete"><br>
            <br>
            
        </form>

    </div>
    <script>
        function validateForm() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        
        // Regular expression to allow only letters, numbers, and underscores
        var regex = /^[a-zA-Z0-9_]+$/;
    
        if (!regex.test(username) || !regex.test(password)) {
          // Display an error message near the form or use another method to inform the user
          alert('Special characters are not allowed in the username or password.');
          return false; // Prevent form submission
        }
        return true; // Allow form submission
      }
    </script>
</body>
</html> 