<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Stylesheet/Nav.css">
    <link rel="stylesheet" href="./Stylesheet/Video.css">
    <link rel="stylesheet" href="./Stylesheet/Home.css">
    <title>Home Page</title>
</head>
<body>
    <video id="video-background" autoplay loop muted>
        <source src="./videos/footage.mp4" type="video/mp4">
    </video>
    <div class="navbar">
        <div>
            <button class="home-button" onclick="location.href='/Home'">Fresh Bowl</button>
        </div>
        <div>
            <div class="dropdown" >
                <img src="profile.png" class="profile-pic" alt="Profile Picture">
                <div class="dropdown-content" style="right: -20px;">
                <a href="/reset-password">Change Password</a>
                <a href="/login">Logout</a>
                <a style="color: #007aff;" href="/delete">Delete Account</a>
            </div>
        </div>
            <div class="dropdown" style="padding-left: 20px;">
                <img class="menu-pic" src="menu.png" alt="Menu Picture">
                <div class="dropdown-content" style="right: -20px;">
                    <a href="#">Order history</a>
                    <a href="#">Setting</a>
                    <a href="#">Customer service</a>
                    <a href="About.html">About</a>
                    <a href="/reserve">Booking</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <form action="/mainpage" method="post">
        <div class="content">
            <h2 class="title">Fresh Bowl</h2>
            <br>
            <br>
            <br>
            <br>
            <label> FRESH, FAST, AND FLAVORFUL</label><br>
            <button class="order-button" type="submit">Order now!</button>
        </div>
    </form>   
</form>
<script>
    const video = document.getElementById('video-background');

    // Check if video playback time is stored in local storage
    const savedTime = localStorage.getItem('videoPlaybackTime');
    if (savedTime) {
       
        video.currentTime = parseFloat(savedTime);
    }

    // Save video playback time before navigating to the next page
    function goToNextPage() {
        localStorage.setItem('videoPlaybackTime', video.currentTime.toString());
        window.location.href = 'Category.html';
    }
</script>
</body>
</html>
