<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Video.css">
    <link rel="stylesheet" href="Login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    
    <title>Login Page</title>
</head>
<body>
    <video id="video-background" autoplay loop muted>
        <source src="./videos/footage.mp4" type="video/mp4">
    </video>
    <div class="container">
        <h2 class="title">Fresh Bowl</h2>
        <form action = "/login" method="post">
            <label>Username <input type="text" name="username" placeholder="" required></label><br>
            <label>Password <input type="password" name="password" placeholder="" required></label><br>
            <label><input type="checkbox" name="remember"> Remember me</label><br>
            <br>
            <input type="submit" value="Login"><br>
            <br>
            <label>Don't have an account?</label><a href="/sign"> Sign Up </a><br>
            <br>
            <label>Forgot pssword?</label><a href="/re"> Forgot Password </a><br>
        </form>
    </div>
</body>
</html> 