<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Stylesheet/Video.css">
    <link rel="stylesheet" href="./Stylesheet/Login.css">
    
    <title>Login Page</title>
</head>
<body>
    <video id="video-background" autoplay loop muted>
        <source src="./videos/footage.mp4" type="video/mp4">
    </video>
    <div class="container">
        <h2 class="title">Fresh Bowl</h2>
        <form action = "/login" method="post" onsubmit="return validateForm()">
            <label>Username <input type="text" name="username" id="username" placeholder="" required></label><br>
            <label>Password <input type="password" name="password" id="password" placeholder="" required></label><br>
            <label><input type="checkbox" name="remember"> Remember me</label><br>
            <br>
            <input type="submit" value="Login"><br>
            <br>
            <label>Don't have an account?</label><a href="/sign" style="color: #007aff;"> Sign Up </a><br>
            <br>
            <label>Forgot pssword?</label><a href="/re" style="color: #007aff;"> Forgot Password </a><br>
        </form>
    </div>
    <script>
        function validateForm() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        var regex = /^[a-zA-Z0-9_]+$/;
    if (!regex.test(username) || !regex.test(password)) {
      alert('Special characters are not allowed in the username or password.');
      return false; 
    }
    return true; 
  }
    </script>
</body>
</html> 