<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Stylesheet/Book.css">
    <link rel="stylesheet" href="./Stylesheet/Nav.css">
    <link rel="stylesheet" href="./Stylesheet/signup.css">
    <title>Signup Page</title>
</head>
<body>
    <div class="container">
        <h2 class="title">Fresh Bowl</h2>
        <!--<h2>Fresh Bowl</h2>-->
        <form action = "/signup" method="post" onsubmit="return validateForm()">
            <label>First Name <input type="text" name="First_Name" id="First_name" placeholder="First Name"></label><br>
            <label>Last Name <input type="text" name="Last_Name" id="Last_Name" placeholder="Last name" required></label><br>
            <label>Citizen ID</label>
            <input type="text" name="Citizen_ID" id="Citizen_ID" placeholder="x-xxxx-xxxxx-xx-x" required><br>
            <label style="margin-left: 10px;">Address </label>
            <input type="text" name="address" id="address" placeholder="Your Address"><br>
            <label>Username </label>
            <input type="text" name="username" id="username" placeholder="" required><br>
            <label>Password </label>
            <input type="password" name="password" id="password" placeholder="" required><br>
            <div class="input-box">
                <span class="details">Confirm Password</span>
                <input type="password" name="confirmPassword" id="confirmPassword" required style="margin-right: 40px;">
                <span id="passwordMismatchError" style="color: red; display: none;">Passwords do not match</span>
            </div><br>
            <br>
            <input type="submit" value="Sign Up"><br>
        </form>
    </div>
    <button class="back-button" onclick="goBack()">Back</button>
    <script>
        function goBack() {
            window.history.back();
        }
        const passwordInput = document.getElementById("password");
        const confirmPasswordInput = document.getElementById("confirmPassword");
        const passwordMismatchError = document.getElementById("passwordMismatchError");
            
            confirmPasswordInput.addEventListener("input", () => {
                if (passwordInput.value !== confirmPasswordInput.value) {
                    passwordMismatchError.style.display = "block";
                } else {
                    passwordMismatchError.style.display = "none";
                }
            });
            
        function validateForm() {
            var First_Name = document.getElementById("First_Name").value;
            var Last_Name = document.getElementById("Last_Name").value
            var Citizen_ID = document.getElementById("Citizen_ID").value;
            var address = document.getElementById("address").value;
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            var regex = /^[a-zA-Z0-9_]+$/;
            if (!regex.test(username) || !regex.test(password) || !regex.test(First_Name) || !regex.test(Last_Name) || !regex.test(Citizen_ID) || !regex.test(address) || !regex.test(confirmPassword))  {
                alert('Special characters are not allowed in the username or password.');
                return false;
            }
            return true;
        }        
    </script>
</body>
</html>
