/* Add.css */
body {
    font-family: FC Lamoon;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #f1b930;
    padding: 20px; /* Increased padding for the yellow box */
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.back-button {
    font-family: FC Lamoon;
    font-size: 24px; /* Increased font size for the back button */
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.back-button:hover {
    opacity: 0.7;
}

h1 {
    font-size: 36px;
    margin: 20px 0;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #f1b930;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

input[type="submit"]:hover {
    opacity: 0.7;
}

.back-button {
    background-color: #f1b930;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}


/* Styling SweetAlert2 popups */
.swal2-popup {
    font-family: FC Lamoon;
}

.swal2-title {
    font-size: 24px;
}

.swal2-content {
    font-size: 18px;
}

.swal2-footer {
    font-size: 14px;
}
