body {
    font-family: FC Lamoon;
    
}
.title {
    font-size: 50px;
}
.container {
    margin: 100px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
}
input[type="text"], input[type="password"] {
    font-family: FC Lamoon;
    width: 200px;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="checkbox"] {
    margin-top: 10px;
}
input[type="submit"] {
    font-family: FC Lamoon;
    background-color: #f1b930;
    color: black;
    padding: 12px 40px;
    border: none;
    border-radius: 400px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #007aff;
}